{
  "root": true,
  "extends": ["eslint:recommended", "plugin:security/recommended", "prettier"],
  "plugins": ["security"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-var": "error",
    "no-unused-vars": "warn",
    "no-extra-semi": "error",
    "semi": ["error", "always"],
    "no-unreachable":"error",
    "no-restricted-imports": ["error", { "patterns": ["*"] }] // わんコメで非対応のため禁止
  },
  "globals": {
    "Vue": "readonly",
    "OneSDK": "readonly",
    "html": "readonly", // html-escaperをimportせずに使用する
    "runes": "readonly"
  }
}
